{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <!--contact section-->
    <section class="n-contact">
        <div class="contact-text" data-aos="fade-up">
            <h1>Connect with us</h1>
            <h3>And let the excellence be your service</h3>
        </div>
    </section>
    
    <!-- Contact details section -->
    <section>
        <table class="table table-bordered">
            <tr>
                <td>Email:</td>
                <td>thriftville.inbox@gmail.com</td>
            </tr>
            <tr>
                <td>Cell Phone:</td>
                <td>061 446 7573</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>6634 Strong street, Soshanguve, Tshwane, Gauteng</td>
            </tr>
        </table>
    </section>
{% endblock content%}